#crsl-text-clr1{
color: white;
font-family: 'Fjalla One', sans-serif;
font-size: 3vw;
text-shadow: #494040 3px 5px 2px;


}
#btnclck-spacer{
    height: 2rem;
}
#btnclck-dflx{

    display: flex;
    justify-content: center ;
}
#btnclck-btns{
    border: none;
    background-color: rgba(255, 255, 255, 0.294);
    border-radius: 20px;
}
#btnclck-btns:hover{
    background-color:rgba(1, 213, 1, 0.837) ;
}
